.dropdown-menu {
    /* width: 100px; */
    position: absolute;
    top: 60px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    background: transparent;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: transparent;
    border-bottom: 2px solid #FF9811;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }