video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
  }
  
  .hero-container {
    /* background: url('/assets/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.33);
    object-fit: contain;
  }
  
  
  .hero-container .typing {
    top: 50%;
    left: 2rem;
    color: #fff;
    font-size: 32px;
    position: absolute;
    max-width: 75%;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container .typing {
      font-size: 28px;
      align-content: flex-start;
 
    }
  }
  
  @media screen and (max-width: 768px) {
   
    .hero-container .typing {
      font-size: 25px;
      align-content: flex-start;
 
    }
  
  }

  @media screen and (max-width: 600px) {
   
    .hero-container .typing {
      font-size: 23px;
      align-content: flex-start;
 
    }

  }