.services-heading{
    text-align: center;
    color: #000;
}

.services-container{
    padding: 90px 0 140px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #aed5f318;
}

.container {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 1rem;
margin-top: 40px;
}

.service-box {
width: 400px;
transition: all .3s;
padding: 10px 5px;
background: #fff;
border-radius: 5px;
display: flex;
cursor: pointer;
box-shadow: 10px 10px 15px rgba(60, 40, 40, 0.15);
margin-bottom:20px;
position: relative;
}

/* .service-box:nth-child(odd) {
color: #9DD7F5;
}

.service-box:nth-child(even) {
color: #FF9811;
} */

.service-box::before {
content: '';
position: absolute;
top: 0%;
left: 0%;
width: 5px;
height: 100%;
background: #FF9811;
transition: all 0.4s;
}

.service-box:hover {
box-shadow: 10px 10px 15px rgba(60, 40, 40, 0.25);
transform: scale(1.04);
}

.service-box:hover .title-area span {
color: #fff;
}

.service-box:hover::before {
width: 100%;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}


.content {
position: relative;
display: flex;
}

.icons {
width: 70px;
display: flex;
justify-content: center;
align-items: center;
font-size: 24px;
transition: 0.5s ease-in-out;
}

.service-box:hover .icons {
color: #fff;
}

.title-area h3 {
font-weight: 400;
}

.title-area span {
font-size: 13px;
color: #696363;
}

.service-box:hover h3,
.service-box:hover p {
color: #fff;
}

